CompileFlags:
  Add: [-Weverything, -Wno-c++98-compat, -Wno-c++98-compat-pedantic, -Wno-newline-eof, -Wno-unused-macros, -Wno-missing-prototypes, -xc++, -std=c++17, --target=i686-pc-windows-gnu]
  Remove: [-x]